<!doctype html>
<html class="no-js" lang="pt-BR">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{csrf_token}}">
    <!-- Title -->
    <title>RetinoMed</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="{% static 'images/logo_carona_oficial_Ug8_icon.ico' %}"/>
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">

    {% block conteudo %}
    {% endblock %}

    <!--Vendor-JS-->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugin-JS-->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/contact-form.js' %}"></script>
    <script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'js/scrollUp.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!--Main-active-JS-->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/universais.js' %}"></script>
</body>

</html>
