{% extends "usuario/base.html" %} 
{% load staticfiles %}
    {% block conteudo %}

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <!-- <div class="mainmenu-area" data-spy="affix">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="tab">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo">
                    <h4>Usuário: {{ user }}</h4>
                </a>
            </div>
        </div>
    </div> -->
    <!--Mainmenu-area/-->

    <!--Header-area-->
    <header class="header-area overlay full-height">
        <form method="POST" enctype="multipart/form-data" action="{% url 'analisar' %}">
            <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-6">
                            {% csrf_token %}
                        <br>
                        <div class="custom-file" id="customFile" lang="es">
                                <input type="file" name="imagem_retina" id="selectedFile" style="display: none;" onchange="readURL(this);"/>
                                <input type="button" class="buttonanalisar button" value="CARREGAR IMAGEM" onclick="document.getElementById('selectedFile').click();" />
                        </div>
                        <br>
                            <label>NOME DA IMAGEM:</label>
                            <p class="class-p" id="image_name">{{ image_name }}</p>
                        <hr>
                            <label>DIAGNÓSTICO</label>
                            <br>
                            {% if resultado == 1 %}
                                <div class="buttonresult1">{{ diagnostico }}</div>
                            {% elif resultado == 0 %}
                                <div class="buttonresult0">{{ diagnostico }}</div>
                            {% else %}
                                <div class="buttonresult2">{{ diagnostico }}</div>
                            {% endif %}
                      </div>
                      <div class="col-sm-6 text-center">
                        <br>
                        {% if resultado == 1 %}
                            <div id="target" class="circle" style="background-image: url('../{{ url_imagem }}');"></div>
                        {% elif resultado == 0 %}
                            <div id="target" class="circle" style="background-image: url('{{ url_imagem }}');"></div>
                        {% else %}
                            <div id="target" class="circle">
                                <img id="blah" class="circle-image"/>
                                <!-- <div class="texto-div">CARREGUE UMA IMAGEM PARA <br>SER ANALISADA</div> -->
                            </div>
                        {% endif %}
                        <button type="submit" title="Clique para analisar a imagem" class="buttonanalisar">ANALISAR IMAGEM</button>
                      </div>
                    </div>
            </div>
        </form>
    </header>

    {% endblock %}
